src/main/mule/implementation/customer-implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<sub-flow name="cin7-exp-api-implementation" doc:id="712dbeb4-ccb9-4ab4-b8f4-82563c04acad" >
		<set-variable value="#[payload]" doc:name="Set Request Payload" doc:id="9a8908c5-5bdf-496d-af2c-ea5d578dc165" variableName="requestPayload"/>
		<ee:transform doc:name="Payload" doc:id="50a4c6c9-3ebc-4367-bcb6-63249f8acc8a">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
if(payload.operation == "CUSTOMER") 
	(payload.requestBody ++ vars.locationDetails.data default {})
else payload.requestBody]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<!-- [STUDIO:"Choice"]<choice doc:name="Choice" doc:id="617078df-98f8-4a26-a05c-598783377b0b" >
			<otherwise >
				<set-payload value="#[payload.requestBody&#93;" doc:name="Set Payload" doc:id="21b8e0d4-90bc-4c3a-94ec-cb14c527551d" />
			</otherwise>
		</choice> [STUDIO] -->
		<logger level="DEBUG" doc:name="Log Outbound" doc:id="d4219f03-aaec-4c26-b306-bae44ba86cb2" message='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;  flowName: flow.name,&#10;  apiName: app.name,&#10;  Name: "Log Outbound",&#10;  MetaData: "Request to process api",&#10;  correlationId: correlationId,&#10;  data: payload&#10;}]'/>
		<until-successful maxRetries="5" doc:name="Until Successful" doc:id="1724e834-f2d4-4980-a97e-a91a072469cf" >
			<http:request method="#[vars.requestPayload.httpRequest.method]" doc:name="Proc Request" doc:id="bd37c869-63d5-4015-8fa9-437a566b563b" url='#[vars.requestPayload.httpRequest.protocol ++ "://" ++ vars.requestPayload.httpRequest.host ++ vars.requestPayload.httpRequest.url]'>
			<http:headers><![CDATA[#[output application/java
---
vars.requestPayload.httpRequest.headers]]]></http:headers>
			<http:query-params><![CDATA[#[output application/java
---
vars.requestPayload.httpRequest.queryParams]]]></http:query-params>
				<http:response-validator >
					<http:success-status-code-validator values="${request.response.values}"/>
				</http:response-validator>
		</http:request>
		</until-successful>
		<logger level="DEBUG" doc:name="Log Inbound" doc:id="c6eb0277-a9ee-4483-b3ae-5ecb6aef8926" message='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;  flowName: flow.name,&#10;  apiName: app.name,&#10;  Name: "Log Inbound",&#10;  MetaData: "Response from process api",&#10;  correlationId: correlationId,&#10;  data: payload&#10;}]' />
		<choice doc:name="Choice" doc:id="4e0a41bc-589f-41ba-bfc1-d0b163e9d876" >
			<when expression="#[attributes.statusCode == 200 or attributes.statusCode == 201]">
				<ee:transform doc:name="Response Transformation" doc:id="292a178d-42ec-495c-853e-7bc6e40cb6d0" >
					<ee:message >
						<ee:set-payload resource="dwls/msg-customer-res.dwl" />
					</ee:message>
				</ee:transform>
			</when>
			<otherwise >
				<ee:transform doc:name="Error Transformation" doc:id="e125572c-bd51-49d7-b50a-d62bb9284d9c" >
					<ee:message >
						<ee:set-payload resource="dwls/err-customer-res.dwl" />
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
		<logger level="INFO" doc:name="Log Exit" doc:id="4331df6d-cef0-4882-aedb-afb2c3a8598e" message='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;  flowName: flow.name,&#10;  apiName: app.name,&#10;  Name: "EXIT",&#10;  MetaData: "Ended Flow in cin7-exp-api",&#10;  correlationId: correlationId,&#10;  data: payload&#10;}]'/>
	</sub-flow>
	<sub-flow name="cin7-get-location-implementation-sub-flow" doc:id="07bf434c-a569-40bd-b1da-0164d5a46773" >
		<http:request doc:name="Request to get Location details" doc:id="f9ecf9fa-701e-41ce-9813-176fd7dc200f" config-ref="HTTP_Request_configuration_cin7" path="${operation.GET-LOCATION.path}" method="GET">
			<http:body ><![CDATA[#[null]]]></http:body>
			<http:headers ><![CDATA[#[output application/java
---
{
	"Content-Type": "application/json",
	"client_id": Mule::p('secure::endSystem.PW-CIN7-PROC.client_id'),
	"client_secret": Mule::p('secure::endSystem.PW-CIN7-PROC.client_secret') 
}]]]></http:headers>
			<http:query-params ><![CDATA[#[output application/java
---
payload.httpGetRequest.queryParams default vars.locationName]]]></http:query-params>
		</http:request>
		<ee:transform doc:name="Location Response Transformation" doc:id="92bc19d3-feec-4226-a66a-f27cd5549251" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</sub-flow>
	<!-- [STUDIO:"sales-order"]<flow name="sales-order" doc:id="fafb168b-1ba3-43e4-9733-a679063b934d" >
		<http:listener doc:name="Listener" doc:id="feb3e209-5bdb-44dc-a07d-7e71090590ad" config-ref="http_listener_config" path="/customer" allowedMethods="POST"/>
		<logger level="INFO" doc:name="Request Logger" doc:id="498249be-d59e-4d12-bbed-25068a575f9b" message="#[payload&#93;"/>
		<ee:transform doc:name="Transform Message" doc:id="9ed8e90c-24c4-495e-bf98-cea19c7a81e3">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/java
&#45;&#45;-
{
}&#93;&#93;></ee:set-payload>
			</ee:message>
		</ee:transform>
		<flow-ref doc:name="Flow Reference" doc:id="0519d87d-bad5-41c0-bda8-b69fb7e5d5c4" name="cin7-exp-api-implementation" />
	
</flow> [STUDIO] -->
	<!-- [STUDIO:"product"]<flow name="product" doc:id="93f29d12-f2a3-4570-b3c5-148fd9347d2a" >
		<http:listener doc:name="Listener" doc:id="5f013376-9264-48ac-b19b-2d2ed21a82be" config-ref="http_listener_config" path="/customer" allowedMethods="POST"/>
		<logger level="INFO" doc:name="Request Logger" doc:id="5a7d5195-efb5-44d3-8169-a078b4b0ad66" message="#[payload&#93;"/>
		<ee:transform doc:name="Create Request" doc:id="71b81a24-75b4-4d5a-a4d1-53284d50ad85">
			<ee:message>
				<ee:set-payload resource="dwls/msg-req-parameter-product.dwl" />
			</ee:message>
		</ee:transform>
		<flow-ref doc:name="Flow Reference" doc:id="023924ef-cb17-40bd-83ac-c1efcc202c34" name="cin7-exp-api-implementation" />
		<logger level="INFO" doc:name="Log Exit" doc:id="be2de2ba-a75f-4390-8b02-d170a06f17dc" message="#[payload&#93;"/>
		<error-handler ref="global-error-handler" />
	
</flow> [STUDIO] -->
	<!-- [STUDIO:"salesOrder"]<flow name="salesOrder" doc:id="091a6746-adb9-4f0c-943b-4ef183b6f3ae" >
		<http:listener doc:name="Listener" doc:id="1dbec607-8580-4ea3-8f77-c7ca7a9ec33a" config-ref="http_listener_config" path="/salesOrder"/>
		<logger level="INFO" doc:name="Request Logger" doc:id="b8c39135-3f87-4aa6-bbd2-b0c8400f04bc" message="#[payload&#93;"/>
		<ee:transform doc:name="Create Request" doc:id="c1dd06e1-8a03-45e3-b788-196ae9490431" >
			<ee:message >
				<ee:set-payload resource="dwls/msg-req-parameter-salesOrder.dwl" />
			</ee:message>
		</ee:transform>
		<flow-ref doc:name="cin7-exp-api-implementation" doc:id="05af252f-bf06-4ec5-9e38-3e1d345df56e" name="cin7-exp-api-implementation"/>
		<logger level="INFO" doc:name="Log Exit" doc:id="7ea21bdc-46bc-47a1-bbce-d92eff637af3" message="#[payload&#93;"/>
	</flow> [STUDIO] -->
	
</mule>
