src/main/mule/cin7-implementation/pw-cin7-exp-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<sub-flow name="cin7-exp-api-implementation" doc:id="712dbeb4-ccb9-4ab4-b8f4-82563c04acad" >
		<set-variable value="#[payload]" doc:name="Set Request Payload" doc:id="9a8908c5-5bdf-496d-af2c-ea5d578dc165" variableName="requestPayload"/>
		<set-payload value="#[payload.requestBody]" doc:name="Set Payload" doc:id="21b8e0d4-90bc-4c3a-94ec-cb14c527551d" />
		<logger level="DEBUG" doc:name="Log Outbound" doc:id="d4219f03-aaec-4c26-b306-bae44ba86cb2" message='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;  flowName: flow.name,&#10;  apiName: app.name,&#10;  Name: "Log Outbound",&#10;  MetaData: "Request to process api",&#10;  correlationId: correlationId,&#10;  data: payload&#10;}]'/>
		<!-- [STUDIO:"Proc Request"]<http:request method="#[vars.requestPayload.httpRequest.method&#93;" doc:name="Proc Request" doc:id="bd37c869-63d5-4015-8fa9-437a566b563b" config-ref="http_request_configuration" url="#[vars.requestPayload.httpRequest.url&#93;">
		</http:request> [STUDIO] -->
		<logger level="DEBUG" doc:name="Log Inbound" doc:id="c6eb0277-a9ee-4483-b3ae-5ecb6aef8926" message='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;  flowName: flow.name,&#10;  apiName: app.name,&#10;  Name: "Log Inbound",&#10;  MetaData: "Response from process api",&#10;  correlationId: correlationId,&#10;  data: payload&#10;}]'/>
		<ee:transform doc:name="Response Transformation" doc:id="ab3c2d5b-b93b-468b-9b19-f6da7245723a">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</sub-flow>
	<!-- [STUDIO:"customer"]<flow name="customer" doc:id="e6c85e71-52de-4673-8568-0ed904c37ab7" >
		<http:listener doc:name="Listener" doc:id="f50e1b19-3736-4c62-83cb-c978fa672448" config-ref="http_listener_config" path="/customer" allowedMethods="POST"/>
		<logger level="INFO" doc:name="Request Logger" doc:id="a955713e-5607-4ff6-bb19-9d5b398f6629" message="#[payload&#93;"/>
		<ee:transform doc:name="Create Request" doc:id="7c101a9b-190d-4669-a9b1-43ac9bde4625" >
			<ee:message >
				<ee:set-payload resource="dwls/msg-req-parameter-customer.dwl" />
			</ee:message>
		</ee:transform>
		<flow-ref doc:name="Flow Reference" doc:id="f540ff53-12fb-4f35-aad6-02d43f47abbd" name="cin7-exp-api-implementation" />
		<logger level="INFO" doc:name="Log Exit" doc:id="1d87cf21-c85d-4ccf-a905-55f816ed580e" message="#[payload&#93;"/>
		<error-handler ref="global-error-handler" />
	</flow> [STUDIO] -->
	<!-- [STUDIO:"sales-order"]<flow name="sales-order" doc:id="fafb168b-1ba3-43e4-9733-a679063b934d" >
		<http:listener doc:name="Listener" doc:id="feb3e209-5bdb-44dc-a07d-7e71090590ad" config-ref="http_listener_config" path="/customer" allowedMethods="POST"/>
		<logger level="INFO" doc:name="Request Logger" doc:id="498249be-d59e-4d12-bbed-25068a575f9b" message="#[payload&#93;"/>
		<ee:transform doc:name="Transform Message" doc:id="9ed8e90c-24c4-495e-bf98-cea19c7a81e3">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/java
&#45;&#45;-
{
}&#93;&#93;></ee:set-payload>
			</ee:message>
		</ee:transform>
		<flow-ref doc:name="Flow Reference" doc:id="0519d87d-bad5-41c0-bda8-b69fb7e5d5c4" name="cin7-exp-api-implementation" />
	
</flow> [STUDIO] -->
	<!-- [STUDIO:"stock"]<flow name="stock" doc:id="058d76e1-f682-45f4-b3bd-9ebd99437189" >
		<http:listener doc:name="Listener" doc:id="6593a0aa-8698-4b78-9301-8a1b0aff7a75" config-ref="http_listener_config" path="/customer" allowedMethods="POST"/>
		<logger level="INFO" doc:name="Request Logger" doc:id="998de413-de6a-470d-8611-6f85f8aa6c79" message="#[payload&#93;"/>
		<ee:transform doc:name="Create Request" doc:id="203ef2c7-efcc-4a51-ac24-1442deed6893">
			<ee:message>
				<ee:set-payload resource="dwls/msg-req-parameter-stock.dwl" />
			</ee:message>
		</ee:transform>
		<flow-ref doc:name="Flow Reference" doc:id="d006ec2f-d362-4540-895c-86a83c518731" name="cin7-exp-api-implementation" />
		<logger level="INFO" doc:name="Log Exit" doc:id="217ac94c-40d9-46b3-a999-c06fd0f8db46" message="#[payload&#93;"/>
		<error-handler ref="global-error-handler" />
	
</flow> [STUDIO] -->
	<!-- [STUDIO:"product"]<flow name="product" doc:id="93f29d12-f2a3-4570-b3c5-148fd9347d2a" >
		<http:listener doc:name="Listener" doc:id="5f013376-9264-48ac-b19b-2d2ed21a82be" config-ref="http_listener_config" path="/customer" allowedMethods="POST"/>
		<logger level="INFO" doc:name="Request Logger" doc:id="5a7d5195-efb5-44d3-8169-a078b4b0ad66" message="#[payload&#93;"/>
		<ee:transform doc:name="Create Request" doc:id="71b81a24-75b4-4d5a-a4d1-53284d50ad85">
			<ee:message>
				<ee:set-payload resource="dwls/msg-req-parameter-product.dwl" />
			</ee:message>
		</ee:transform>
		<flow-ref doc:name="Flow Reference" doc:id="023924ef-cb17-40bd-83ac-c1efcc202c34" name="cin7-exp-api-implementation" />
		<logger level="INFO" doc:name="Log Exit" doc:id="be2de2ba-a75f-4390-8b02-d170a06f17dc" message="#[payload&#93;"/>
		<error-handler ref="global-error-handler" />
	
</flow> [STUDIO] -->
	<!-- [STUDIO:"salesOrder"]<flow name="salesOrder" doc:id="091a6746-adb9-4f0c-943b-4ef183b6f3ae" >
		<http:listener doc:name="Listener" doc:id="1dbec607-8580-4ea3-8f77-c7ca7a9ec33a" config-ref="http_listener_config" path="/salesOrder"/>
		<logger level="INFO" doc:name="Request Logger" doc:id="b8c39135-3f87-4aa6-bbd2-b0c8400f04bc" message="#[payload&#93;"/>
		<ee:transform doc:name="Create Request" doc:id="c1dd06e1-8a03-45e3-b788-196ae9490431" >
			<ee:message >
				<ee:set-payload resource="dwls/msg-req-parameter-salesOrder.dwl" />
			</ee:message>
		</ee:transform>
		<flow-ref doc:name="cin7-exp-api-implementation" doc:id="05af252f-bf06-4ec5-9e38-3e1d345df56e" name="cin7-exp-api-implementation"/>
		<logger level="INFO" doc:name="Log Exit" doc:id="7ea21bdc-46bc-47a1-bbce-d92eff637af3" message="#[payload&#93;"/>
	</flow> [STUDIO] -->
</mule>
